<body>
  <%= render "layouts/header" %>
  <%= yield %>

<h1>Pizza Menu</h1>

<%= link_to "➕ Create New Pizza", new_pizza_path, class: "new-pizza-button" %>

<div class="pizzas-container">
  <% @pizzas.each do |pizza| %>
    <div class="pizza-card">
      <h2><%= pizza.name %></h2>
      <p>Toppings: 
        <% if pizza.toppings.any? %>
          <%= pizza.toppings.map { |topping| "#{topping.emoji} #{topping.name}" }.join(", ") %>
        <% else %>
          No toppings selected.
        <% end %>
      </p>
      <div class="pizza-card-buttons">
        <%= link_to "Edit", edit_pizza_path(pizza), class: "edit-button" %>
        <%= button_to "Delete", pizza_path(pizza), method: :delete, 
          onclick: "return confirm('Are you sure you want to delete #{pizza.name}?')", 
          class: "button delete-button" %>      </div>
    </div>
  <% end %>
</div>

</body>